@import (inline) "../css/bootstrap.css";
@global-blue: #6699ff;
@global-red:#ff6666;
@global-purple:#9966ff;
@global-lightgray: #f8f8f8;
@global-gray: #555;
@font-gray: #555;
body {
    font: 14px/1.5  "Microsoft Yahei";
    background: url(../img/bg.jpg) repeat;
    padding-top: 55px;
}
input.form-control{
    &:focus{
        box-shadow: none !important;
    }
}
button.btn{
    &:hover{
        background-color:#fff;
    }
}
#my-nav {
    border-bottom: 5px solid @global-blue;
    margin-bottom: 0;
    .navbar-brand{
        transition:all 1s;
        color: @global-blue;
    }
    .navbar-nav li>a{
        transition:all 1s;
        &:hover{
            color: @global-blue;
        }
    }
}
#my-banner{
    margin:0 -15px 0 -15px;
    img{
        width: 100%;
    }
}
.index-section{
    //margin: 30px auto;
    margin-top:30px;
    background: @global-lightgray; 
    border-radius: 3px;
    border:1px solid #ccc;
}
.index-tabsection{
    margin-top:30px;
}
.index-section-title{
    font-size: 20px;
    color:@global-gray;
    &:after{
        content:" ";
        display: block;
        height: 2px;width: 80px;
        background: @global-blue;
        margin-top: 10px;
    }
    small{
        color:lighten(@global-gray,5%);
    }
}
.section-film{
    padding:0 10px;
}
ul.index-film-new,ul.index-news-new{
    list-style:none;
    padding: 0;
    margin-bottom:5px;
    li{
        margin-top:8px;
        overflow: hidden;
        a{
            height: 25px;line-height:25px;width: 100%;
            padding-left: 10px;
            border-left: 3px solid @global-purple;
            display: block;
            
            color:@global-gray;
            transition: margin-left 0.3s linear;

            &:hover{
                margin-left:15px;
                text-decoration: none;
            }
            span.time{
                font-style: italic;
                padding: 0 10px 0 0;
                @media (max-width: 480px){
                    display: none;
                }
            }
        }

        @media (min-width: 992px) and (max-width: 1199px){
            margin-top: 5px;
        }
        @media (min-width: 1200px) {
            margin-top: 10px;
        }
    }
    
}
.index-link-film,.index-link-news{
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
    color: @global-purple;
    text-align: center;
    border: 1px solid @global-purple;
    transition:all 0.5s linear;
    &:hover{
        text-decoration: none;
        background: @global-purple;
        color: #fff;
    }
}
.index-item-box{
    padding:0 6px;
    transition:all 1s;
    .thumbnail{
        border:none;
        border-radius: 0;
        padding: 0;
        border-bottom: 5px solid @global-red;
    }
    &:hover{
    }
}
.index-logo-hr {
    margin-top:30px;
    img{
        display: block;
        margin:0 auto;
    }
}
.index-tabsection-tabs{
    border-color: #ccc;
    li.active{
        a{
            background: @global-lightgray !important;
            //border-color:#ccc;
            border: 1px solid #ccc !important;
            border-bottom-color: transparent !important;
            &:hover{
                background: @global-lightgray;
            }
            h2{
                border-left: 2px solid @global-blue;
                padding-left: 10px; 
            }
        }
    }
    li{
        a{
            transition:all 0.5s linear;
            h2{
                margin:0;

                &:after{
                    display: none;
                }
            }
        }
    }
}
.index-tabsection-pane{
    background: @global-lightgray;

    border-radius: 0 3px 3px 3px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ccc;
}
.footer {
    margin-top:30px;
    width: 100%;
    background: @global-lightgray;
    border-top: 2px solid @global-blue;
    line-height: 35px;
    text-align: center;
    //position: absolute;
    //bottom: 0;
    color: @font-gray;
}