@import (less) "./bootstrap.less";

//==============global less==============
body {
    font: 14px/1.5  "Microsoft Yahei";
    background: #f1f1f1;
    @media (max-width:@screen-sm-max) {
        padding-top: 50px;
    }
    
}
input.form-control {
    &:focus {
        box-shadow: none !important;
    }
}
button.btn {
    &:hover {
        background-color: #fff;
    }
}
.my-container {
    .container-fluid;
    width: 95%;
    @media (min-width:@screen-lg-min) {
        width: 90%;
    }
}
//==============nav less==============
#my-nav {
    .navbar;
    .navbar-inverse;
    .navbar-fixed-top;
    opacity: 0.9;
    border-bottom: none;
    margin-bottom: 0;
    background: #333;
    box-shadow: 0 0 5px #333;
    .navbar-brand {
        transition: all 1s;
        color: @global-lightgray;
    }
    .navbar-nav li>a {
        transition: all 1s;
        color: #ccc;
        &:hover {
            color: @global-lightgray;
        }
    }
}
@import (less) "./my-index.less";
//==============footer==============
.footer {
    margin-top: 30px;
    width: 100%;
    background: #333;
    opacity: 0.9;
    line-height: 35px;
    text-align: center;
    color: @global-lightgray;
}